<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.internet.cms.dao.user.IUserDao">
	<resultMap type="com.internet.cms.model.User" id="User">
		<id column="id" property="id" jdbcType="VARCHAR"/>		
	</resultMap>
	
	<select id="loadByUsername" resultMap="User" parameterType="string">
		select u.id
		from t_user as u where username= #{username};
	</select>
</mapper>
